/* Base box */
.pub-box {
  position: relative;
  padding: 18px 10px 0px;
  *padding-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/*通之样式*/
.notifications {
	position: fixed;
}

.notifications.top-right {
	right: 10px;
	top: 45px;
}

.notifications.top-left {
	left: 10px;
	top: 45px;
}

.notifications.bottom-left {
	left: 10px;
	bottom: 45px;
}

.notifications.bottom-right {
	right: 10px;
	bottom: 45px;
}

.notifications>div {
	position: relative;
	z-index: 9999;
	margin: 5px 0px;
}

.notifications.center {
	top: 48%;
	left: 0;
	width: 100%;
}

.notifications.center>div {
	margin: 5px auto;
	width: 20%;
	text-align: center;
}